body {
  font-family: "Helvetica Neue";
  font-size: 1.2em;
  margin-left: 5em;
}

#container {
  width: 100%;
}
h1 {
  text-shadow: .05em .05em #909590;
}

h1, a {
  text-decoration: none;
  color: rgb(183, 237, 235);
  font-size: 3em;
}

.not-done {
  background-color: rgb(221, 255, 130);
}

.done {
  background-color: #d1cece;
  text-decoration: line-through;
}

ul li {
  list-style-type: none;
  width:15em;
  height:1.3em;
  margin-left: 1em;
  margin-top: 1em;
  text-align:center;
  font-size: 2em;
  box-shadow: 5px 5px 5px #bacfcc;
}

ul {
  margin-right: 0;
  float: left;
}

button {
  font-family: "Helvetica Neue";
  background-color: #edeaea;
  border: none;
}

.right {
  margin-left: 0;
  float: right;
}

.hide {
  display: none;
}

.removeButton {
  margin-right: 1em;
  border-radius: .2em;
}

.showButton {
  border-radius: .2em;
}

.bigButton {
  font-size: 3em;
}

#addButton {
  font-size: 1.3em;
}

input[type="text"] {
  border: 1px solid #00000;
  font-size: 2em;
  padding: 1px;
  width: 10em;
}
